#intro {
    background-color: aliceblue;
    border-radius: 5px;
    border: 5px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.content{
    background-color: aliceblue;
    border-radius: 5px;
    border: 5px;
    width: 50%;
    margin: auto;
    padding: 10px;
}